@import "~normalize.css/normalize.css";

$font_stack: Helvetica, sans-serif;
/*
$area_1980: #00e676;
$area_2016: #66ffa6;
$prod_1980: #e65800;
$prod_2016: #ff9c66;
$highlight: #ff6691;
*/

$area_1980: #00e676;
$area_2016: #66ffa6;
$prod_1980: #2d87fc;
$prod_2016: #66bfff;
$highlight: #ff6691;
$background: #222222;
$text_size: 1rem;
/*$title_size:*/

$screen-max: 1440px;

@mixin xl {
  @media (max-width: #{$screen-max}) {
    @content;
  }
}

html {
  width: 100%;
  height: 100%;
}
body{
  font: 1em $font_stack;
  background-color: $background;
  width: 100%;
  height: 100%;

  p {
    color: white;
    line-height: 1.2rem;

  }

  .link {
    color: white;
    grid-column: 4;
    grid-row: 1;
    text-align: right;
    text-decoration: none;
    margin: auto;
    font-size: 0.75rem;

    &:hover {
      color: $highlight;
    }
  }
}

svg{
  grid-column: 2 / 4;
  grid-row: 2 / 5;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  /*max-height: 100%;*/
}

.africa {
  fill: $background;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;

}

.hover {
  fill: $highlight;
}

.container{
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 10% 15% 40% auto;
  padding: 0 4rem;
  height: 100%;
  min-width: 1200px;

  @include xl {
    padding: 0 1rem;
  }
}

.intro {
  grid-column: 1;
  grid-row: 2 / 2;
  width: 100%;
  height:100%;
  //padding-left: 20px;

}


.tooltip {
  grid-column: 1;
  grid-row: 3 / 5;
  text-align: left;
  //border-radius: 8px;
  //border: solid 2px $highlight;
  pointer-events: none;
  background: $background;
  padding-left: 20px;


  h2 {
    //padding: 0 10px;
    color: white;
    margin: 20px 20px 20px 0;
  }

  h3 {
    color: white;
    text-align: left;
    margin: 20px 20px 5px 0;

  }

  .info {
    display: flex;
    margin: 5px 10px;

    $margin: 5px 10px;

    .circle {
      width: $text_size;
      height: $text_size;
      margin: 5px auto;
      border-radius: 50%;
    }

    .rect {
      width: $text_size/2;
      height: $text_size;
      margin: auto $text_size/4;
    }

    .year {
      margin: $margin;
      font-weight: bold;
    }

    .value {
      color: white;
      flex: 1;
    }

    p {
      margin: $margin;
      text-align: left;
    }

  }

  .area1980 {

    .circle {
      background: $area_1980;
    }

    .year {
      color: $area_1980;
    }

  }

  .area2016 {

    .circle {
      background: $area_2016;
    }

    .year {
      color: $area_2016;
    }

  }

  .prod2016 {

    .rect {
      background: $prod_2016;
    }

    .year {
      color: $prod_2016;
    }

  }

  .prod1980 {

      .rect {
        background: $prod_1980;
      }

      .year {
        color: $prod_1980;
      }

    }

  .ha {
    margin: 10px 10px;
    border: solid 2px #66ffa6;
    border-radius: 5px;
    width: 250px;
    height: 250px;
    position: relative;

    .ha_line {
      height: 10px;
      width: 15px;
      position: absolute;
      top: -15px;
      left: 255px;
      border-top: 1px solid white;
      border-left: 1px solid white;
      transform: skew(-45deg);
    }

    .ha_tip {
      position: absolute;
      top: -25px;
      left: 275px;
      font-size: 0.8rem;
      width: 40px;
      height: auto;
      margin: 0 0 0 5px;
    }
    .wheat_line {
      height: 20px;
      width: 246px;
      position: absolute;
      top: 240px;
      left: 24px;
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      transform: skew(30deg);
    }

    .wheat_tip {
      position: absolute;
      top: 250px;
      left: 275px;
      font-size: 0.8rem;
      width: 40px;
      height: auto;
      margin: 0 0 0 5px;
    }

    .ha_line_animated {
      height: 0;
      width: 0;
      position: absolute;
      top: -15px;
      left: 255px;
      border-top: 1px solid white;
      border-left: 1px solid white;
      transform: skew(-45deg);
      animation: ha_line_expand 0.2s ease forwards, ha_line_slide 0.2s 0.3s ease forwards;
    }

    .ha_tip_animated {
      position: absolute;
      top: -25px;
      left: 275px;
      font-size: 0.8rem;
      width: 40px;
      height: auto;
      margin: 0 0 0 5px;
      opacity: 0;
      animation: display_text .2s 0.4s ease forwards;
    }
    .wheat_line_animated {
      height: 0;
      width: 0;
      position: absolute;
      top: 240px;
      left: 24px;
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      transform: skew(30deg);
      animation: wheat_line_expand 0.2s ease forwards, wheat_line_slide 0.3s 0.2s ease forwards;
    }

    .wheat_tip_animated {
      position: absolute;
      top: 250px;
      left: 275px;
      font-size: 0.8rem;
      width: 40px;
      height: auto;
      margin: 0 0 0 5px;
      opacity: 0;
      animation: display_text .2s 0.4s ease forwards;
    }
  }


}

.title {
  grid-column: 1 / span 2;
  grid-row: 1;
  color: white;
  margin: 2rem 0 0 0;
}

.fill {
  fill: $prod_2016;
}

  @keyframes wheat_line_slide {
    from {
      width: 0;
    }

    to {
      width: 246px;;
    }

  }

@keyframes wheat_line_expand {
  from {
    height: 0;
  }

  to {
    height: 20px;
  }

}


@keyframes ha_line_slide {
  from {
    width: 0;
  }

  to {
    width: 15px;
  }

}

@keyframes ha_line_expand {
  from {
    height: 0;
  }

  to {
    height: 10px;
  }

}

@keyframes display_text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}