@import "~normalize.css/normalize.css";

$font_stack: Helvetica, sans-serif;
$area_1980: #00e676;
$area_2016: #66ffa6;
$prod_1980: #e65800;
$prod_2016: #ff9c66;
$highlight: #ff6691;
$background: #222222;
$text_size: 1rem;
/*$title_size:*/

html {
  width: 100%;
  height: 100%;
}
body{
  font: 1em $font_stack;
  background-color: $background;
  width: 100%;
  height: 100%;

  p {
    color: white;
    line-height: 1.2rem;

  }
}



svg{
  grid-column: 2 / 4;
  grid-row: 2 / 5;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  /*max-height: 100%;*/
}

.africa {
  fill: $background;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;

}

.hover {
  fill: $highlight;
}

.container{
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 10% 15% 40% auto;
  padding: 0 4rem;
  height: 100%;
}

.intro {
  grid-column: 1;
  grid-row: 2 / 2;
  width: 100%;
  height:100%;
  //padding-left: 20px;


}


.tooltip {
  grid-column: 1;
  grid-row: 3 / 5;
  text-align: left;
  //border-radius: 8px;
  //border: solid 2px $highlight;
  pointer-events: none;
  background: $background;
  padding-left: 20px;


  h2 {
    //padding: 0 10px;
    color: $highlight;
    margin: 20px 20px 20px 0;
  }

  h3 {
    color: white;
    text-align: left;
    margin: 20px 20px 20px 0;

  }

  .info {
    display: flex;
    margin: 5px 10px;

    $margin: 5px 10px;

    .circle {
      width: $text_size;
      height: $text_size;
      margin: 5px auto;
      border-radius: 50%;
    }

    .rect {
      width: $text_size/2;
      height: $text_size;
      margin: auto $text_size/4;
    }

    .year {
      margin: $margin;
      font-weight: bold;
    }

    .value {
      color: white;
      flex: 1;
    }

    p {
      margin: $margin;
      text-align: left;
    }

  }

  .area1980 {

    .circle {
      background: $area_1980;
    }

    .year {
      color: $area_1980;
    }

  }

  .area2016 {

    .circle {
      background: $area_2016;
    }

    .year {
      color: $area_2016;
    }

  }

  .prod2016 {

    .rect {
      background: $prod_2016;
    }

    .year {
      color: $prod_2016;
    }

  }

  .prod1980 {

      .rect {
        background: $prod_1980;
      }

      .year {
        color: $prod_1980;
      }

    }

  .ha {
    margin: 5px 10px;
    border: solid 2px #66ffa6;
    border-radius: 5px;
    width: 200px;
    height: 202px;
    padding: 0 1px;
  }
}

.title {
  grid-column: 1 / span 2;
  grid-row: 1;
  color: white;
  margin: 2rem 0 0 0;
}